:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* My CSS */

.logo {
  display: block;
  margin: 0 auto;
  max-height: 200px;
}

/* NavBar */

.NavBar {
  background-color: #621f06;
}

.NavBar {
  width: 100%;
  background-color: #621f06;
}

.NavBar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.NavBar nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.NavBar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.NavBar a:hover {
  color: #ccc;
  cursor: pointer;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > .NavLink {
  cursor: pointer;
  text-decoration: none;
  padding: 8px 12px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown-menu .dropdown {
  padding: 8px 12px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  background-color: #621f06;
}

.dropdown-menu .dropdown:hover {
  background: #501804;
}

.dropdown > .NavLink::after {
  content: none !important;
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Adds space between buttons */
  margin-top: 20px;
}

.login-buttons button {
  background-color: #d3d0cf;
  color: black;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  border-radius: 5px;
  text-align: center;
}

.login-buttons button:hover {
  background-color: #999795;
}

.register-buttons {
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: center;
  gap: 15px; /* Adds space between buttons */
  margin-top: 20px;
}

.register-buttons button {
  background-color: #d3d0cf;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  border-radius: 5px;
  text-align: center;
}

.register-buttons button:hover {
  background-color: #999795;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
  background-color: #f2f1ee;
  padding: 50px;
}

.Account {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
  background-color: #f2f1ee;
  padding: 50px;
}

h2 {
  text-align: center;
}
